[Unit]
Description=Lutron DMX Control
After=network-online.target olad@%i.service
Wants=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=20

[Service]
Type=notify
NotifyAccess=main
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/%I/lutron-dmx-control.py
Restart=always
RestartSec=5
WatchdogSec=120
User=%I

[Install]
WantedBy=multi-user.target
